
.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.navigationJustify {
  display: flex;
  justify-content: flex-start;
  margin-left: 4rem;
  margin-right: auto;
  z-index: 3;
}
a.gettingStarted {
  color: #2f8fff;
  *border: 1px solid #bdc1c6!important;
}

.gettingStarted.dark {
  color: #2f8fff;
}

.toggleJustify {
  display: flex;
  justify-content: flex-end;
}
/*Dark Lght Theme Navigations Styles*/
.navigation.light {
  background-color: #fff;
  color: #5f6368;
  border-bottom: 1px solid #bdc1c6;
}

.navigation.dark {
  background-color: #202124;
  color: #e8eaed;
}

.navigation.dark li a:hover {
background-color: #323439;
border: 1px solid #44474e;
color: #f3f9ff;
}

.navigation.light li a:hover {
  background-color: #f3f9ff;
  border: 1px solid #cce3ff;
  color: #0070f3;
  }


.logo {
  display: flex;
  margin: 0;
  padding: 0;
  width: 110px;
  height: 17px;
  justify-content: space-between;
  align-items: center;
}
/*copy glow from Home module css*/
.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 48px;
  height: 36px;
  *margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 224px;
  height: 58px;
  z-index: 1;
}
/*END copy glow from Home module css*/
  
  .navigation ul {
    display: inherit; /*before adding submenu it was "flex"*/
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation ul li a {
    padding: 0.6rem 0.9rem 0.6rem 0.9rem; /*default margin-left: 1rem; */
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .navigation a {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 300;
  }
  
  .navigation a:hover {
    color: #0070f3;
  }

/*
Submenu Styles Component
*/
@media (min-width: 900px) {
.submenu {
  position: absolute;
  top: calc(5% + 5px); 
  max-width: 400px;
  min-width: 300px;
  z-index: 100;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: .8rem!important;
  list-style: none;
  transform: translateX(-36%);
  transition: all .2s ease-in-out;
}

.submenu.dark {
  background-color: #202124;
  color: #e8eaed;
}

.submenu li {
  *margin-bottom: 1rem;
  padding: 0.25rem;
}

.submenu li a {
  padding: 1rem;
  margin: 0;
  display: block;
  font-weight: 500;
}

.submenu li:last-child {
  margin-bottom: 0;
}

.dropdownIcon {
  margin-left: 5px;
  vertical-align: middle;
  transition: transform 0.2s ease-out;
}

.dropdownIcon.rotate {
  transform: rotate(180deg);
}

.submenuIcon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.submenuDescription {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-left: 28px;
}


}
/*
END Submenu Styles Component
*/

  @media (min-width: 1400px) {
    .navigationContainer {
      max-width: 1280px;
      margin: 0 auto;
    }
  }


  /* Стили для анимации */